$media-breakpoint-up-lg: 992px;

:host {
    position: fixed;
    z-index: 10000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media only screen and (max-width: $media-breakpoint-up-lg) {
    :host {
        width: 100%;
    }
}

@media only screen and (min-width: $media-breakpoint-up-lg) {
    :host {
        width: 500px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

ul { 
    margin-top: 15px;
    list-style-type: none;
    padding-left: 0;
}
