<app-alert *ngIf="alerts$ | async as alerts" [alerts]="alerts"></app-alert>
<main class="pt-2 px-4">
  <h1>Alerts</h1>
  Auto Dismiss? <ngx-toggle [(checked)]="autoDismiss"></ngx-toggle>
  <div class="pt-2">
    <button class="btn btn-success" (click)="onShowAlertClick('The force is strong with this one! 🌎', AlertColor.Green)">
      Show Success Alert
    </button>
  </div>
  <div class="pt-2">
    <button class="btn btn-warning"
      (click)="onShowAlertClick('I\'ve got a bad feeling about this! 😬', AlertColor.Yellow)">
      Show Warning Alert
    </button>
  </div>
  <div class="pt-2">
    <button class="btn btn-danger" (click)="onShowAlertClick('I\'ve lost R2! 🤖', AlertColor.Red)">
      Show Error Alert
    </button>
  </div>
</main>